[user]
	name = ARAI Yusuke
	email = arai@zamec.org
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	br = log --graph --pretty='format:%Cgreen%d%Creset %<|(80,trunc)%s %Cblue[%h]%Creset'
	ba = log --all --graph --pretty='format:%Cgreen%d%Creset %s %Cblue[%h]%Creset'
	fe = fetch --all --prune
[core]
	editor = nvim
	preloadindex = true
	fscache = true
	quotepath = false
[push]
	default = matching
[pull]
	rebase = true
[merge]
	ff = false
