[user]
	name = Yusuke Arai
	email = arai@zamec.org
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	br = log --all --graph --pretty='format:%Cgreen%d%Creset %<|(80,trunc)%s %Cblue[%h]%Creset'
	ba = log --all --graph --pretty='format:%Cgreen%d%Creset %s %Cblue[%h]%Creset'
[core]
	editor = vim
	preloadindex = true
	fscache = true
	quotepath = false
[push]
	default = matching
[merge]
	ff = false
